# ======================================================
# .dotfiles gitignore
# ======================================================
# ------------------------------------------------------
# Emacs
# ------------------------------------------------------
home/.emacs.d/*
!home/.emacs.d/init.el
!home/.emacs.d/init/*
!home/.emacs.d/twilight-theme.el

# ------------------------------------------------------
# Spack
# ------------------------------------------------------
home/.spack/*
!home/.spack/config.yaml
!home/.spack/environments/default/spack.yaml

# ------------------------------------------------------
# SSH
# ------------------------------------------------------
home/.ssh/*
