[user]
    name = Alec Scott
    email = hi@alecbcs.com
    signingkey = E19571E4792E6760

[merge]
    tool = opendiff

[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore-global

[alias]
    # remove branches whose remote tracking branch is gone
    bgone = "!f() { \
        gone_branches=$(git branch \
            --sort=-committerdate \
            --format '%(refname:short) %(upstream:track)' \
        | grep '\\[gone\\]' \
        | cut -d' ' -f 1); \
        for branch in $gone_branches; do \
            if [ \"$1\" = --dry-run ]; then \
                echo git branch -D $branch; \
            else \
                git branch -D $branch; \
            fi; \
        done; \
    }; f"

    # view branches that have been sucessfully squashed
    bsquashed = "!f() { \
        current_branch=$(git rev-parse --abbrev-ref HEAD); \
        branches=$(git for-each-ref refs/heads/ --format='%(refname:short)'); \
        for branch in $branches; do \
            merge_base=$(git merge-base $current_branch $branch); \
            branch_parsed=$(git rev-parse \"$branch^{tree}\"); \
            merge_commit=$(git commit-tree $branch_parsed -p $merge_base -m _); \
            merged_status=$(git cherry $current_branch $merge_commit | cut -c1-1); \
            if [ \"$merged_status\" = - ]; then \
                echo $branch; \
            fi; \
        done; \
    }; f"

    # go to the github/gitlab page for this repo
    go = "!f() {\
        url=$(git remote -v | grep '^origin\\|^github\\|^gitlab' | \
            sort -r | \
            egrep -o 'git..b.com[:/][^/ ]+/[^/ ]+' | head -1 | \
            perl -pe 's@(git..b\\.com).([^/ \\.]+)/([^/ \\.]+)(.git)?@https://\\1/\\2/\\3@' \
        ) && \
        python -c \"import webbrowser; webbrowser.open('${url}')\"; \
    }; f"

[difftool]
    prompt = false
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"

[rebase]
    autosquish = true

[push]
    default = simple

[fetch]
    prune = true

[pull]
    ff = only

[init]
    defaultBranch = main

[diff]
    tool = opendiff

[commit]
    gpgsign = true
